+replicate('.u-alignLeft')
  text-align: left

+replicate('.u-alignCenter')
  text-align: center

+replicate('.u-alignRight')
  text-align: right

+replicate('.u-block')
  display: block

+replicate('.u-inlineBlock')
  display: inline-block

+replicate('.u-relative')
  position: relative

+replicate('.u-wide')
  width: 100%

.u-clearfix
  &:after
    content: "";
    display: table;
    clear: both;